.container{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 10px;
}

.grid-item{
    outline: 2px dashed orange;
    display: flex;
    justify-content: center;
    align-items: center;

}

.success{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 10px;
    grid-auto-rows: 200px;
    grid-auto-columns: 200px;
    grid-auto-flow: column;
}

.love{
    outline:3px dashed rgba(239, 94, 118, 0.776) ;
    display: flex;
    justify-content: center;
    align-items: center;

}

[class^="love"]{
    outline: 2px dashed orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.love{
    grid-row: 2;
    grid-column: 4;
}

.love3{
    grid-row: 1;
    grid-column: 4;
}